@using Microsoft.AspNetCore.Identity
@model IdentityRole

<form method="post" class="border-dark p-4 border-5">

    <div class="border p-4 m-6 ">
        <div class="row pb-3">
            <h2 style="color:brown">Add New Role</h2>
            <hr/>
        </div>
        <div class="form-floating">
            <div class="row mb-3">
                <label asp-for="Name"> Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text text-bg-danger">@*Enter valid Address*@ </span>


            </div>
          
           <div style="margin:20px">

            <button class="btn btn-danger" type="submit" >
                Create
            </button>

            <button class="btn btn-danger" type="submit" asp-action="Index"
                    asp-controller="AppRoles" style="margin-left:20px" onclick="return confirm('Are you sure You want to Back ')">
                Back
            </button>
            </div>





        

        </div>



    </div>
</form>







@*
@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
*@





